.link
	position: relative
	z-index: 1
	display: inline-block
	border: 2px solid
	padding: 8px 10px 7px
	min-width: 219px
	+demic
	font-size: 12px
	text-align: center
	text-transform: uppercase
	+tr(all 0.3s)
	&:after
		content: ""
		position: absolute
		left: 0
		top: 0
		z-index: -1
		width: 100%
		height: 0
		background: #fff  
		+tr(all .2s)
	&:hover
		color: $black 
		border-color: #fff 
		&:after
			height: 100%
	&.is-liquid
		display: block
	&_simple
		color: #fff
		border-color: #fff 
	&_action
		color: $brown
		border-color: $brown
		&:hover
			color: #fff
			border-color: $brown
			&:after
				height: 100%
				background: $brown 
	&_fixed-width
		min-width: 271px
.btn
	position: relative
	z-index: 1
	display: inline-block
	vertical-align: middle
	padding: 8px 25px 7px
	color: #fff
	+demic
	font-size: 12px
	letter-spacing: 0.5px 
	background: $brown
	text-transform: uppercase
	+tr(color .2s linear)
	&:after
		content: "" 
		position: absolute
		top: 0
		left: 0
		z-index: -1
		width: 100%
		height: 0
		background: $black 
		+tr(all .2s linear)
	&:hover
		&:after
			height: 100%
	&_height
		padding: 29px 25px 29px 
.btn-close
	position: relative
	width: 20px
	height: 20px
	overflow: visible
	background: none
	&:before,
	&:after
		content: ""
		position: absolute
		left: 0
		top: 0
		+tr(all .2s linear)
	&:before
		+s(close)		
	&:after
		+s(close-h)	
		visibility: hidden
		opacity: 0
	&:hover
		&:after
			visibility: visible
			opacity: 1
		&:before
			visibility: hidden
			opacity: 0
.layout
	display: table
	width: 100%
	table-layout: fixed
	&_auto
		.layout__left,
		.layout__right
			width: auto
	&__left,
	&__right
		display: table-cell
		vertical-align: middle
		width: 50%
	&__right
		text-align: right
		

.title
	position: relative
	font-size: 30px
	+rex 
	text-align: center
	letter-spacing: 1.8px 
	span
		color: $brown 
	&_light 
		color: $brown 

	&.has-sun
		padding-top: 87px
		text-align: center
		&:before
			content: ""
			position: absolute
			left: 50%
			top: 0
			margin-left: -31px 
			+s(sun)
	&.has-dots 
		padding-top: 195px
		margin-bottom: 67px
		color: #fff
		text-align: center
		&:before
			content: ""
			position: absolute
			top: 0
			left: 50%
			margin-left: -3px
			height: 109px
			width: 4px
			background: url(../img/dots-w.png) 0 0 repeat
		&:after
			content: ""
			position: absolute
			left: 50%
			top: 109px
			margin-left: -31px 
			+s(sun-white) 
	&.has-line
		padding: 21px 0 0 
		text-align: left
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 63px
			height: 2px
			background: $brown
	&_mod
		margin-bottom: 26px
.dots-line
	position: relative
	margin: 0 auto 5px
	height: 222px
	width: 3px
	background: url(../img/dots.png) 11px 0 repeat
 
.links-wrap
	text-align: center
	+clr
	width: 660px
	margin: 9px auto 47px
	+column-count(2)
	+column-gap(100px)
	&_mod
		margin-bottom: 17px
	// .links
	// 	display: inline-block
	// 	width: 330px
	// 	padding-left: 50px
	// 	text-align: left
	// 	&:first-child
	// 		padding: 0 50px 0 0  
	a
		display: block
		position: relative 
		margin-bottom: 6px
		padding: 9px 0 
		font-size: 12px
		color: $brown
		text-align: left
		text-transform: uppercase
		+demic 
		+gpu
		&:hover
			&:before
				top: 0
				visibility: visible
				opacity: 1
		&:after,
		&:before
			content: ""
			position: absolute
			left: 0
			right: 0
			height: 2px
			background: $brown  
		&:after
			bottom: 0
		&:before	
			opacity: 0
			visibility: hidden
			top: 100%
			+tr(all .2s linear)
// .links
// 	padding: 8px 0 47px
// 	a
// 		display: block
// 		position: relative 
// 		margin-bottom: 6px
// 		padding: 9px 0 
// 		font-size: 12px
// 		color: $brown
// 		text-transform: uppercase
// 		+demic 
// 		&:hover
// 			&:before
// 				top: 0
// 				visibility: visible
// 				opacity: 1
// 		&:after,
// 		&:before
// 			content: ""
// 			position: absolute
// 			left: 0
// 			right: 0
// 			height: 2px
// 			background: $brown  
// 		&:after
// 			bottom: 0
// 		&:before	
// 			opacity: 0
// 			visibility: hidden
// 			top: 100%
// 			+tr(all .2s linear)

.tel
	display: inline-block
	vertical-align: middle
	font-size: 20px
	text-align: left
	letter-spacing: 1.3px 
	i
		display: inline-block
		vertical-align: middle
		margin-right: 12px
		width: 37px
		height: 37px
		line-height: 37px
		text-align: center 
		border: 2px solid $gray
		border-radius: 50% 
		font-size: 12px
		font-style: normal
		+demic
	span
		display: inline-block
		vertical-align: middle
	strong
		display: block
		font-weight: normal
		font-size: 20px
		+demic

.link-more
	display: inline-block
	position: relative
	padding: 9px 0 
	color: $brown 
	font-size: 12px
	text-transform: uppercase
	+demic
	&_share
		span
			display: inline-block
			position: relative
			&:before
				content: "" 
				position: absolute
				left: -34px
				top: 4px
				+s(share)
	&:hover
		&:before
			top: 0
			visibility: visible
			opacity: 1
	&:after,
	&:before
		content: ""
		position: absolute
		left: 0
		right: 0
		height: 2px
		background: $brown  
	&:after
		bottom: 0
	&:before
		top: 100%
		opacity: 0
		visibility: hidden
		+tr(all .2s linear) 
		
.link-item
	font-size: 12px
	+demic
	text-transform: uppercase
	white-space: nowrap
	span
		display: inline-block
		margin-right: 26px
		vertical-align: top
		white-space: normal
	a
		display: inline-block
		vertical-align: top
		position: relative
		margin-top: -10px
		padding: 10px 0 
		max-width: 221px
		color: $brown
		+tr(color .2s linear)
		white-space: normal
		&:hover
			color: $black 
			&:before
				top: 0
				visibility: visible
				opacity: 1
		&:after,
		&:before
			content: ""
			position: absolute
			left: 0
			right: 0
			height: 2px
			background: $brown  
		&:after
			bottom: 0
		&:before
			top: 100%
			opacity: 0
			visibility: hidden
			+tr(all .2s linear) 
			
.banner
	position: relative
	padding: 6px 
	float: left
	margin: 0 0 8px 50px
	width: 465px 
	min-height: 222px
	border: 2px solid $brown
	text-align: center
	&:first-child,
	&:nth-child(2n+1)
		margin-left: 0 
	+r(w1250)
		margin-left: 30px
	&:hover
		.banner__overlay
			height: 100%
	&_extend
		background: $brown
		.banner__img
			height: 212px
		.banner__descr
			position: absolute
			left: 0
			top: 0
			bottom: 0
			padding: 18px 20px  
			width: 270px
			text-align: left
			color: #fff 
			background: $brown 
			+demic
			font-size: 12px
			text-transform: uppercase
			strong
				display: block
				margin-bottom: 17px
				font-weight: normal
				+rex
				font-size: 24px
	&_height
		min-height: 227px
		.banner__title
			padding-top: 10px
	&__img
		display: block
		height: 183px
		overflow: hidden
		img
			max-width: 100%
	&__title
		display: block
		padding: 5px 0 2px
		font-size: 12px
		text-transform: uppercase
		color: $brown 
		+demic
	&__overlay
		position: absolute
		top: 0
		height: 0
		left: 0
		right: 0
		line-height: 222px
		background: $brown
		overflow: hidden 
		color: #fff  
		+tr(height .2s linear)

.place-list-wrap
	+column-count(3)
.place-list
	li
		margin-bottom: 5px
	.title
		text-align: left
.info
	color: $black
	font-size: 12px
	text-transform: uppercase
	+demic 