+font(futurabookc, futurabookc)
=book
	font-family: "futurabookc", Arial, sans-serif
+font(futurabookc-italic, futurabookc-italic)
=bookit
	font-family: "futurabookc-italic", Arial, sans-serif
+font(futurademic, futurademic)
=demic
	font-family: "futurademic", Arial, sans-serif
+font(futurademic-italic, futurademic-italic)
=demicit
	font-family: "futurademic-italic", Arial, sans-serif
+font(rex_bold, rex_bold)
=rex
	font-family: "rex_bold", Arial, sans-serif
$black: #101010
$dark: #303030
$brown: #bd904d
$gray: #666
$border: #d6d6d6
$red: #e20317
html
	// +scrollbar
	// 	width: 6px
	// 	height: 6px
	// 	+border-radius(4px)
	// 	background: none
	// +scrollbar-thumb
	// 	background: $brown

	+selection
		background: rgba($brown,.3)
body
	font-family: Arial, sans-serif
	font-size: 12px
	line-height: 1.4
	min-width: 1024px
	background: #fff
	letter-spacing: .7px
	+book
	font-size: 16px
	&.has-fixed-nav
		.header__main
			opacity: 0
			visibility: hidden
			+transform(translateY(-300px))
		.nav
			+transform(translateY(0))
a
	text-decoration: none
.out
	margin-bottom: 44px
.l-center
	position: relative
	margin: 0 auto
	padding: 0 40px
	max-width: 1366px
	+r(w1250)
		max-width: 1000px
		padding: 0 20px
	&_small
		max-width: 1000px
		padding: 0 20px
	.l-center_small
		padding: 0
		max-width: 960px
		+r(w1250)
			padding: 0
.to-center
	text-align: center
.to-right
	text-align: right
.to-left
	text-align: left
.wrap
	+clr
	clear: both
.wrapper
	overflow: hidden
.out
	position: relative
	//margin: 0 0 -542px
	//min-height: 100%
	//height: auto !important
	//height: 100%
.push
	clear: both
	height: 542px
.col-two
	float: left
	width: 50%
.col-three
	float: left
	padding-left: 5%
	width: 33%
	+r(w1250)
		width: 50%
		&:last-child
			float: none
			width: 100%
			clear: both
	&:first-child
		padding-left: 0
	.info
		+r(w1250)
			position: relative
			text-align: center
			padding-top: 20px
			margin: 20px 0
			border: 0
			&:before
				content: ""
				position: absolute
				width: 63px
				height: 2px
				background: $black
				top: 0
				left: 50%
				margin-left: -32px
// common blocks

.header
	text-transform: uppercase
	+demic
	&__main
		position: relative
		padding: 31px 0 18px
		+tr(all .2s linear)
		+transform(translateY(0))
	a
		color: $black
	&__logo
		display: block
		margin: 0 auto
		+s(logo)
		+hide-text
	&__left
		position: absolute
		left: 40px
		top: 0
		padding-top: 25px
		.header__nav
			padding-top: 23px
		.btn
			display: none
			margin-right: 26px
			+r(w1250)
				display: inline
	&__right
		position: absolute
		top: 0
		right: 40px
		padding-top: 22px
		text-align: right
		.header__nav
			padding-top: 13px
		.btn
			+r(w1250)
				display: none
	.menu-key
		display: inline-block
		margin-right: 16px
		position: relative
		vertical-align: middle
	&__lang
		display: inline-block
		vertical-align: middle
		font-size: 0
		a
			display: inline-block
			position: relative
			vertical-align: middle
			padding: 0 10px
			height: 18px
			line-height: 18px
			font-size: 12px
			&:hover
				&:after,
				&:before
					background: $black
				&:before
					top: -9px
					opacity: 1
				&:after
					bottom: -9px
					opacity: 1
			&:after,
			&:before
				content: ""
				position: absolute
				left: 10px
				right: 10px
				height: 2px
				opacity: 0
				background: $gray
				+tr(all .2s linear)
			&:before
				top: 0
			&:after
				bottom: 0
	&__nav
		+clr
		+r(w1250)
			display: none
		a
			float: left
			position: relative
			margin-left: 30px
			height: 34px
			line-height: 34px
			font-size: 12px
			letter-spacing: .5px
			&:first-child
				margin-left: 0
			&:hover
				&:after,
				&:before
					background: $black
				&:before
					top: 0
					opacity: 1
			&.is-active
				color: $brown
				&:after,
				&:before
					background: $brown
				&:before
					top: 0
					opacity: 1
			&:after,
			&:before
				content: ""
				position: absolute
				left: 0
				right: 0
				height: 2px
				background: $gray
				+tr(all .2s linear)
			&:before
				opacity: 0
				top: 100%
			&:after
				bottom: 0
	.btn
		color: #fff
	.tel
		margin-right: 25px
.menu-key
	display: inline-block
	height: 22px
	background: none
	&:hover
		i
			&:after
				//bottom: -12px
				+transform(translateY(4px))
			&:before
				//top: -12px
				+transform(translateY(-4px))
	i
		display: inline-block
		position: relative
		vertical-align: middle
		height: 2px
		width: 24px
		background: $black
		&:before,
		&:after
			content: ""
			position: absolute
			height: 2px
			background: inherit
			left: 0
			right: 0
			+tr(all .2s linear)
		&:before
			top: -8px
		&:after
			bottom: -8px
	span
		display: inline-block
		vertical-align: middle
		color: #000
		font-size: 12px
		+demic
		margin-left: 7px
		text-transform: uppercase
.nav
	position: fixed
	top: 0
	+transform(translateY(-150px))
	left: 0
	right: 0
	z-index: 99
	background: #fff
	border-bottom: 1px solid #efeeee
	+tr(transform .2s)
	.l-center
		position: relative
		padding: 15px 40px 7px
		+clr
		+r(w1250)
			padding: 15px 20px 7px
	.menu-key
		position: absolute
		top: 20px
		right: 24px
		+r(w1250)
			right: 0
		span
			margin: 0 7px 0 0
			color: $brown
	&__logo
		float: left
		margin-top: 6px
		+s(logo-nav)
	&__main
		position: relative
		overflow: hidden
		text-align: right
		font-size: 0
		padding-right: 105px
		+r(w1250)
			display: none
		a
			display: inline-block
			vertical-align: middle
			height: 35px
			line-height: 35px
			margin-left: 25px
			font-size: 12px
			color: $black !important
			text-transform: uppercase
			+demic
			+tr(color .2s linear)
			&:first-child
				margin-left: 0
			&:hover,
			&.is-active
				color: $brown  !important
.menu
	position: fixed
	top: 0
	+transform(translateX(-5000px))
	width: 100%
	overflow: hidden
	z-index: 101
	text-align: center
	background: #fff
	visibility: hidden
	+tr(transform .2s linear)
	&.is-visible
		+transform(translateX(0))
		visibility: visible
	&__in
		position: relative
		margin: 0 auto
		padding: 13px 40px 10px
		max-width: 1366px
		background: #fff
		+clr
		+r(w1250)
			padding: 13px 10px 10px
	&__list
		+clr
		float: left
		width: 85%
		+r(w1250)
			width: 82%
		a
			position: relative
			display: inline-block
			height: 30px
			line-height: 30px
			font-size: 12px
			text-align: left
			+demic
			color: $black !important
			text-transform: uppercase
	ul
		float: left
		width: 25%
		padding-right: 10px
		text-align: left
		&:nth-child(1),
		&:nth-child(2),
			a
				color: $brown !important
	.menu__action
		float: right
		width: 170px
		text-align: left
		padding-top: 11px
		.btn
			float: left
		.btn-close
			float: right
		.header__lang
			clear: both
			padding: 15px 0 0
			margin-left: -10px
			a
				color: $brown
			.is-active
				color: $black
.overlay-menu
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 100
	visibility: hidden
	background: rgba(#000,.3)
	opacity: 0
	+tr(opacity .2s linear)
	&.is-visible
		visibility: visible
		opacity: 1

.footer
	position: relative
	min-height: 542px
	background: $black
	color: #fff
	font-size: 14px
	+book
	&__top
		display: table
		width: 100%
		text-transform: none
		border-bottom: 2px solid #a2a2a2
		&_mod
			.footer__subscribe
				width: 350/960*100%
				.link
					width: 100%
			.footer__currency
				width: 610/960*100%
	&__subscribe,
	&__currency
		display: table-cell
		padding: 20px 0
		vertical-align: middle
		width: 50%
	&__currency
		text-align: right
		font-size: 0
		letter-spacing: .6px
		span
			display: inline-block
			vertical-align: middle
			margin-left: 44px
			font-size: 14px
			+r(w1250)
				margin-left: 15px
			&:first-child
				margin-left: 0
		em
			font-style: normal
			color: $brown
	&__subscribe
		+justify
		+r(w1350)
		span
			font-size: 14px
			display: inline-block
			vertical-align: middle
			margin-right: 10px
			text-align: left
			+r(w1350)
				max-width: 210px
		.link
			vertical-align: middle
	&__main
		padding: 19px 0 27px
		+clr
		.link
			margin-top: 5px
		+r(w1250)
			.col-two
				width: 55.5%
				&:first-child
					width: 44.5%
				.col-two
					width: 42%
					&:first-child
						width: 58%
		.tel + .footer__soc-link
			margin-top: 20px

	&__nav

		li
			+clr
			a
				display: inline-block
				position: relative
				color: $brown
				text-transform: uppercase
				+demic
				font-size: 12px
				line-height: 3
				+tr(color .2s linear)
				&:after
					content: ""
					position: absolute
					bottom: 10px
					left: 0
					width: 0
					height: 2px
					background: $brown
					opacity: 0
					+tr(all .2s linear)
				&:hover
					color: #fff
					&:after
						width: 100%
						opacity: 1
						background: #fff
			ul
				float: left
				width: 50%
				padding: 7px 10px 0 0
				+r(w1250)
					width: 40%
					margin-left: 10%
					&:nth-child(2)
						margin-left: 0
				a
					color: #fff
					text-transform: none
					+book
					line-height: 1.72
					font-size: 14px
					&:after
						display: none
					&:hover
						color: $brown
	&__nav-width
		margin-bottom: 4px
		li
			ul
				margin-bottom: 5px
				width: 100%
	&__soc-link
		margin: 40px 0 0
		font-size: 12px
		color: #fff
		+demic
		text-transform: uppercase
		a
			color: $brown
			+tr(color .2s)
			&:hover
				color: #fff
	.tel
		display: block
		margin: 33px 0 0
	&__bottom
		display: table
		width: 100%
		text-transform: none
		letter-spacing: 1px
		border-top: 2px solid #a2a2a2
	&__copy,
	&__created
		display: table-cell
		vertical-align: top
		width: 50%
		a
			color: #fff
			+tr(all .2s)
			&:hover
				color: $brown
	&__copy
		padding: 24px 0 0
		a
			position: relative
			display: inline-block
			top: 0
			margin-right: 14px
	&__created
		text-align: right
		padding: 24px 0 0

.vintage-logo
	display: inline-block
	margin-left: 14px
	+s(logo-vintage)
	+tr(all .2s linear)
	&:hover
		+sp(logo-vintage-h)

.preloader
	position: fixed
	z-index: 100
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: #000
	opacity: 1
	+tr(opacity .5s)
	&.is-opacity
		opacity: 0
	&.is-hidden
		visibility: hidden
	&:after,
	img
		position: absolute
		top: 50%
		left: 50%
	img
		margin: -85px 0 0 -85px
		+animation(sun 10s linear infinite)
	&:after
		content: ""
		margin: -8px 0 0 -41px
		+s(preload-logo)
+keyframes(sun)
	0%
		opacity: 1
		+transform(scale(1.1) rotate(0))
	10%
		opacity: .5
		+transform(scale(1) rotate(36deg))
	20%
		opacity: 1
		+transform(scale(1.2) rotate(72deg))
	30%
		opacity: .5
		+transform(scale(1) rotate(108deg))
	40%
		opacity: 1
		+transform(scale(1.1) rotate(144deg))
	50%
		opacity: .5
		+transform(scale(1) rotate(180deg))
	60%
		opacity: 1
		+transform(scale(1.1) rotate(216deg))
	70%
		opacity: .5
		+transform(scale(1) rotate(252deg))
	80%
		opacity: 1
		+transform(scale(1.1) rotate(278deg))
	90%
		opacity: .5
		+transform(scale(1.1) rotate(314deg))
	100%
		opacity: 1
		+transform(scale(1) rotate(360deg))

.pagi
	text-align: center
	margin: 30px 0
	&:last-child
		margin-bottom: 0
	&__prev,
	&__next
		display: inline-block
		vertical-align: middle
		width: 37px
		height: 37px
		line-height: 37px
		border-radius: 50%
		background: $brown
		+tr(0.1s linear)
		&:hover
			background: $dark
		&:before
			content: ""
			position: relative
			display: inline-block
			vertical-align: middle
			top: -1px
	&__prev
		&:before
			+s(pagi-prev)
			right: 1px
	&__next
		&:before
			+s(pagi-next)
			left: 1px
	&__items
		display: inline-block
		vertical-align: middle
		a
			padding: 0 19px
			+rex
			font-size: 20px
			line-height: 37px
			color: $brown
			+tr(0.1s linear)
			&.is-active, &:hover
				color: $dark
